* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-intro-desktop.png');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: rgb(42, 165, 165);
    padding: 20px;
    color: rgba(172, 37, 4, 0.836);
}

main {
    overflow: auto;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

main .container {
    display: flex;
    flex: 1;
    margin: 0 auto;
    padding: 70px;
    margin-top: 20px;
    padding-top: 70px;
}

.container .slide {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    padding: 20px;
    margin-top: 70px;
    justify-content: center;
    /* text-align: center; */
}

.container .slide2 {
    flex: 1;
}

main .container .slide2 .form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.137);
    text-align: center;
    padding-bottom: 20px;
}

.slide p {
    padding-top: 20px;
}

input {
    width: 85%;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.116) solid;
}

.slide2 #top {
    background-color: hsl(248, 32%, 49%);
    flex: 1;
    border-radius: 7px;
    border: 0px;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    /* margin: 20px; */
    text-align: center;
    box-shadow: 1px 2.1px rgba(0, 0, 0, 0.158);
    color: rgba(255, 255, 255, 0.589);
}

#top strong {
    color: white;
}

.form {
    padding-top: 25px;
}

.form #bottom {
    width: 87%;
    color: white;
    cursor: pointer;
    border: 0px;
    padding-top: 10px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.075)
}

#colchange {
    color: hsl(0, 90%, 67%);
}

.slide2 h6 {
    font-weight: 100;
    font-size: 0.8em;
    padding: auto;
/*  padding-top: 10px; */
    color: rgba(0, 0, 0, 0.514);
}

@media only screen and (max-width: 395px) {
    #top {
        padding: 15px;
    }
    h6 {
        font-size: 0.5em;
        /* display: flex; */
    }
    main .container {
        width: 90%;
        display: flex;
        padding: 20px;
        /* background-color: rgb(51, 153, 114); */
        flex-direction: column;
        flex: 1;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    main .container .slide {
        /* background-color: red; */
        padding: 1.3em;
    }
    .slide h1 {
        line-height: 1.3em;
        text-align: center;
    }
    main .slide p {
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        padding-bottom: 1.7em;
    }
    .container .slide2 {
        /* background-color: palevioletred; */
        align-items: center;
        justify-content: center;
        /* width: 100%; */
    }
    main .container .slide2 form {
        /* width: 70%; */
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}   main .container .slide2 form #bottom {
        padding:20px;
        border-radius: 5px;
}

footer {
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 165, 165);
    padding: 10px;
    color: rgba(172, 37, 4, 0.836);
}
